{% extends '@KnpMenu/menu.html.twig' %}

{% block label %}
    {%- set translation_domain = item.extra('translation_domain', 'messages') -%}
    {%- set label = item.label -%}
    {%- if translation_domain is not same as(false) -%}
        {%- set label = label|trans(item.extra('translation_params', {}), translation_domain) -%}
    {%- endif -%}
    {%- if item.getExtra('icon') is not null -%}<i class="m-nav__link-icon {{ item.getExtra('icon') }}"></i> {%- endif -%}
    {%- if item.getExtra('notification') is not null -%}
        <span class="m-nav__link-title">
            <span class="m-nav__link-wrap">
                <span class="m-nav__link-text">
                    {{ block('label_text') }}
                </span>
                <span class="m-nav__link-badge">
                    <span class="m-badge m-badge--{%- if item.getExtra('notificationType') is not empty -%}{{ item.getExtra('notificationType') }}{%- else -%}success{%- endif -%}">
                        {{ item.getExtra('notification') }}
                    </span>
                </span>
            </span>
        </span>
    {%- else -%}
        {{ block('label_text') }}
    {%- endif -%}
{% endblock %}

{% block label_text %}
    <span class="m-nav__link-text">
        {%- if options.allow_safe_labels and item.extra('safe_label', false) -%}{{ block('spaceIfIcon') ~ label|raw }}{% else %}{{ block('spaceIfIcon') ~ label }}{%- endif -%}
	</span>
{% endblock %}

{% block linkElement %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    {%- if item.getExtra('divider') is null -%}
        <a href="{{ item.uri }}"{{ knp_menu.attributes(item.linkAttributes) }}>{{ block('label') }}</a>
    {%- endif -%}
{% endblock %}

{% block spaceIfIcon %}{% if item.getExtra('icon') is not null %}{{ ' ' }}{%- endif -%}{% endblock %}

