{% extends '@RandockMetronic7/base.html.twig' %}

{% block body_class %}m-page--wide m-header--fixed m-header--fixed-mobile m-footer--push m-aside--offcanvas-default{% endblock %}

{% block body %}

    <div class="m-grid m-grid--hor m-grid--root m-page">
        <!-- begin::Header -->
        <header id="m_header" class="m-grid__item		m-header " minimize="minimize" minimize-offset="200"
                minimize-mobile-offset="200">
            <div class="m-header__top">
                <div class="{% block header_top_class %}m-container m-container--responsive m-container--xxl m-container--full-height m-page__container{% endblock %}">
                    <div class="m-stack m-stack--ver m-stack--desktop">
                        <div class="m-stack__item m-brand">
                            <div class="m-stack m-stack--ver m-stack--general m-stack--inline">
                                <div class="m-stack__item m-stack__item--middle m-brand__logo">
                                    <a href="{% block homeLink %}#{% endblock %}" class="m-brand__logo-wrapper">
                                        {% block logo %}
                                            <img alt="" src="{{ asset('image/logo/logo.png') }}"/>
                                        {% endblock %}
                                    </a>
                                </div>
                                <div class="m-stack__item m-stack__item--middle m-brand__tools">
                                    <!-- begin::Responsive Header Menu Toggler-->
                                    <a id="m_aside_header_menu_mobile_toggle" href="javascript:;"
                                       class="m-brand__icon m-brand__toggler m--visible-tablet-and-mobile-inline-block">
                                        <span></span>
                                    </a>
                                    <!-- end::Responsive Header Menu Toggler-->
                                    <!-- begin::Topbar Toggler-->
                                    <a id="m_aside_header_topbar_mobile_toggle" href="javascript:;"
                                       class="m-brand__icon m--visible-tablet-and-mobile-inline-block">
                                        <i class="flaticon-more"></i>
                                    </a>
                                    <!--end::Topbar Toggler-->
                                </div>
                            </div>
                        </div>

                        <!-- begin::Topbar -->
                        <div class="m-stack__item m-stack__item--fluid m-header-head" id="m_header_nav">
                            <div id="m_header_topbar" class="m-topbar  m-stack m-stack--ver m-stack--general">
                                <div class="m-stack__item m-topbar__nav-wrapper">
                                    <ul class="m-topbar__nav m-nav m-nav--inline">
                                        {% for service in getHeaderLists() %}

                                            {% include '@RandockMetronic7/headerLists/NotificationHeaderListTemplate.html.twig' with { items: service.getItems(), options: service.getOptions() } %}
                                        {% endfor %}

                                        <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img  m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light"
                                            m-dropdown-toggle="click">
                                            {% block topbar_user %}
                                                <a href="#" class="m-nav__link m-dropdown__toggle">
                                                    {% if username is defined %}
                                                        {% if topbar_user_welcome is defined %}
                                                            <span class="m-topbar__welcome">
                                                            {{ topbar_user_welcome | trans }},&nbsp;
                                                        </span>
                                                        {% endif %}
                                                        <span class="m-topbar__username">
														{{ username }}
													</span>
                                                    {% endif %}
                                                    <span class="m-topbar__userpic">
                                                    <img src="{% block topbar_user_image %}{{ asset('bundles/randockmetronic5/media/app/img/icons/user.svg') }}{% endblock %}"
                                                         class="m--img-rounded m--marginless m--img-centered" alt=""/>
                                            </span>

                                                </a>
                                            {% endblock %}
                                            <div class="m-dropdown__wrapper">
                                                <span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
                                                <div class="m-dropdown__inner">
                                                    {% block topmenu_user %}
                                                        <div class="m-dropdown__header m--align-center">
                                                            <div class="m-card-user m-card-user--skin-dark">
                                                                <div class="m-card-user__pic">
                                                                    <img src="{% block topmenu_user_image %}{{ asset('bundles/randockmetronic5/media/app/img/icons/user.svg') }}{% endblock %}"
                                                                         class="m--img-rounded m--marginless" alt=""/>
                                                                </div>
                                                                <div class="m-card-user__details">
																<span class="m-card-user__name m--font-weight-500">
																	{% block topmenu_user_name %}{% if user.name is defined %}{{ user.name }}{% endif %}{% endblock %}
																</span>
                                                                    <a href=""
                                                                       class="m-card-user__email m--font-weight-300 m-link">
                                                                        {% block topmenu_user_email %}{% if user.name is defined %}{{ user.email }}{% endif %}{% endblock %}
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endblock %}

                                                    <div class="m-dropdown__body">
                                                        <div class="m-dropdown__content">
                                                            {{ knp_menu_render('topMenu',
                                                                {
                                                                    'allow_safe_labels': true,
                                                                    'ancestorClass' : 'active',
                                                                    'currentClass': 'm-menu__item--active',
                                                                    'firstClass': null,
                                                                    'lastClass': null,
                                                                    'leaf_class': 'm-nav__item',
                                                                    'template' : '@RandockMetronic7/menu/topMenu.html.twig',

                                                                }) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end::Topbar -->
                    </div>
                </div>
            </div>
            {% block header_bottom %}
            <div class="m-header__bottom">
                <div class="{% block header_bottom_class %}m-container m-container--responsive m-container--xxl m-container--full-height m-page__container{% endblock %}">
                    <div class="m-stack m-stack--ver m-stack--desktop">
                        <!-- begin::Horizontal Menu -->
                        <div class="m-stack__item m-stack__item--middle m-stack__item--fluid">
                            <button class="m-aside-header-menu-mobile-close  m-aside-header-menu-mobile-close--skin-light "
                                    id="m_aside_header_menu_mobile_close_btn">
                                <i class="la la-close"></i>
                            </button>
                            <div id="m_header_menu"
                                 class="m-header-menu m-aside-header-menu-mobile m-aside-header-menu-mobile--offcanvas  m-header-menu--skin-dark m-header-menu--submenu-skin-light m-aside-header-menu-mobile--skin-light m-aside-header-menu-mobile--submenu-skin-light ">

                                {{ knp_menu_render('mainMenu',
                                    {
                                        'allow_safe_labels': true,
                                        'ancestorClass' : 'm-menu__item--active',
                                        'currentClass': 'm-menu__item--active',
                                        'firstClass': null,
                                        'lastClass': null,
                                        'template' : '@RandockMetronic7/menu/horizontalMainMenu.html.twig',
                                    }) }}

                            </div>
                        </div>
                        <!-- end::Horizontal Menu -->
                        <!--begin::Search-->
                        <div class="m-stack__item m-stack__item--middle m-dropdown m-dropdown--arrow m-dropdown--large m-dropdown--mobile-full-width m-dropdown--align-right m-dropdown--skin-light m-header-search m-header-search--expandable m-header-search--skin-"
                             id="m_quicksearch" m-quicksearch-mode="default">
                            {% block header_search %}
                                <!--begin::Search Form -->

                                <form class="m-header-search__form"
                                      action={% block header_search_action %}"page_general_search.html"{% endblock %}>
                                    <div class="m-header-search__wrapper">
										<span class="m-header-search__icon-search" id="m_quicksearch_search">
											<i class="la la-search"></i>
										</span>
                                        <span class="m-header-search__input-wrapper">
											<input autocomplete="off" type="text" name="q"
                                                   class="m-header-search__input" value="{% block header_search_value %}{% endblock %}"
                                                   placeholder="{% block header_search_placeholder %}Search...{% endblock %}"
                                                   id="m_quicksearch_input">
										</span>
                                        <span class="m-header-search__icon-close" id="m_quicksearch_close">
											<i class="la la-remove"></i>
										</span>
                                        <span class="m-header-search__icon-cancel" id="m_quicksearch_cancel">
											<i class="la la-remove"></i>
										</span>
                                    </div>
                                </form>

                            {% endblock %}
                            <!--end::Search Form -->
                            <!--begin::Search Results -->
                            <div class="m-dropdown__wrapper">
                                <div class="m-dropdown__arrow m-dropdown__arrow--center"></div>
                                <div class="m-dropdown__inner">
                                    <div class="m-dropdown__body">
                                        <div class="m-dropdown__scrollable m-scrollable" data-scrollable="true"
                                             data-max-height="300" data-mobile-max-height="200">
                                            <div class="m-dropdown__content m-list-search m-list-search--skin-light"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--end::Search Results -->
                        </div>
                        <!--end::Search-->
                    </div>
                </div>
            </div>
            {% endblock %}
        </header>
        <!-- end::Header -->
        <!-- begin::Body -->
        <div class="{% block content_class %}m-grid__item m-grid__item--fluid  m-grid m-grid--ver-desktop m-grid--desktop 	m-container m-container--responsive m-container--xxl m-page__container m-body{% endblock %}">
            <div class="m-grid__item m-grid__item--fluid m-wrapper">
                <!-- BEGIN: Subheader -->
                <div class="m-subheader ">
                    <div class="d-flex align-items-center">
                        <div class="mr-auto">
                            <h3 class="m-subheader__title m-subheader__title--separator">
                                <!--Randock Block Title-->
                                {% block title %}
                                    Dashboard
                                {% endblock %}
                                <!--END: Randock Block Title-->
                            </h3>
                            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                                {% block breadcrumb %}
                                {% endblock %}
                            </ul>
                            <!--END: Randock Block Breadcrum-->
                        </div>
                        <!--Randock Block Subheader-->
                        {% block subHeader %}
                        {% endblock %}
                        <!--END: Randock Block Subheader-->
                    </div>
                </div>
                <!-- END: Subheader -->
                <div class="m-content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- end::Body -->
        <!-- begin::Footer -->
        {% block footer %}{% include '@RandockMetronic7/layout/footer.html.twig' %}{% endblock %}
        <!-- end::Footer -->
    </div>
    <!-- end:: Page -->
    <!-- begin::Scroll Top -->
    <div id="m_scroll_top" class="m-scroll-top">
        <i class="la la-arrow-up"></i>
    </div>
    <!-- end::Scroll Top -->
{% endblock %}
